body{
  background-color: #000 !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0 !important;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do-list{
  background-color: #303030;
}

.list-item{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}